.nav1{
    text-decoration: none;
    color: white;
    margin-left: 1300px;
    font-family: serif;
    height: 200px;
}
.a1 {
    text-decoration: none;
    color: rgb(0,30,80);
    margin-right: 10px;
    font-family: serif;
    font-size: 20px;
}